
$primary: #2176FF;
$primary-d: darken($primary, 5%);

$green: #51CB20;
$green-d: darken($green, 5%);

$shadow: 0 1px 1px rgba(0, 0, 0, .05);
$shadow-1: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10);
$shadow-1-hover: 0 10px 20px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-left: 250px;
	background-color: #fafafa;
}

.modal {
	z-index: 4000;
}

.modal-backdrop {
	z-index: 3000;
}

body.modal-open {
	padding-right: 15px;
}

.wrapper {
	margin-top: 165px;
}

.overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 2000;
}

// Typography

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	line-height: 1;
	margin: 20px 0;
}

h1 {font-size: 4rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2rem;}
h4 {font-size: 2rem;}

p {
	font-size: 1.3rem;
	line-height: 1.75;
	margin: 1.5rem 0;
	font-weight: 400;
	color: #444;
}

a {
	color: $primary;
	transition: 0.3s all;

	&:hover,
	&:focus {
		text-decoration: none;

	}

}

button {
	transition: 0.3s all;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	font-size: 1rem;
	line-height: 1.75;
}

select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background-image: url('../img/select_arrow.png');
	background-repeat: no-repeat;
	background-size: 9px;
	background-position: calc(100% - 10px) center;
	padding-right: 20px;
}

select:focus {
	outline-color: $primary;
}



// Buttons

.btn {
	border-radius: 3px;
	font-weight: 400;
	min-height: 40px;
	
	i {
		margin-right: 10px;
	}
	
}

.btn-primary { 
  color: #FFFFFF; 
  background-color: $primary; 
  border-color: $primary; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFFFFF; 
  background-color: $primary-d; 
  border-color: $primary; 
} 

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: #FFFFFF; 
  background-color: $primary-d; 
  border-color: $primary; 
}

 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: $primary; 
  border-color: $primary; 
} 
 
.btn-primary .badge { 
  color: $primary; 
  background-color: #FFFFFF; 
}


.btn-success { 
  color: #FFFFFF; 
  background-color: $green; 
  border-color: $green; 
} 
 
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success { 
  color: #FFFFFF; 
  background-color: $green-d; 
  border-color: $green; 
} 

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
  color: #FFFFFF; 
  background-color: $green-d; 
  border-color: $green; 
}

 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success { 
  background-image: none; 
} 
 
.btn-success.disabled, 
.btn-success[disabled], 
fieldset[disabled] .btn-success, 
.btn-success.disabled:hover, 
.btn-success[disabled]:hover, 
fieldset[disabled] .btn-success:hover, 
.btn-success.disabled:focus, 
.btn-success[disabled]:focus, 
fieldset[disabled] .btn-success:focus, 
.btn-success.disabled:active, 
.btn-success[disabled]:active, 
fieldset[disabled] .btn-success:active, 
.btn-success.disabled.active, 
.btn-success[disabled].active, 
fieldset[disabled] .btn-success.active { 
  background-color: $green; 
  border-color: $green; 
} 
 
.btn-success .badge { 
  color: $green; 
  background-color: #FFFFFF; 
}

.btn-transparent { 
  color: #FFFFFF; 
  background-color: transparent; 
  border-color: #666; 
} 
 
.btn-transparent:hover, 
.btn-transparent:focus, 
.btn-transparent:active, 
.btn-transparent.active, 
.open .dropdown-toggle.btn-transparent { 
  color: $primary; 
  background-color: transparent; 
  border-color: #666; 
} 

.btn-transparent.active.focus, .btn-transparent.active:focus, .btn-transparent.active:hover, .btn-transparent:active.focus, .btn-transparent:active:focus, .btn-transparent:active:hover, .open>.dropdown-toggle.btn-transparent.focus, .open>.dropdown-toggle.btn-transparent:focus, .open>.dropdown-toggle.btn-transparent:hover {
  color: $primary; 
  background-color: #fff; 
  border-color: #666; 
}

 
.btn-transparent:active, 
.btn-transparent.active, 
.open .dropdown-toggle.btn-transparent { 
  background-image: none; 
} 
 
.btn-transparent.disabled, 
.btn-transparent[disabled], 
fieldset[disabled] .btn-transparent, 
.btn-transparent.disabled:hover, 
.btn-transparent[disabled]:hover, 
fieldset[disabled] .btn-transparent:hover, 
.btn-transparent.disabled:focus, 
.btn-transparent[disabled]:focus, 
fieldset[disabled] .btn-transparent:focus, 
.btn-transparent.disabled:active, 
.btn-transparent[disabled]:active, 
fieldset[disabled] .btn-transparent:active, 
.btn-transparent.disabled.active, 
.btn-transparent[disabled].active, 
fieldset[disabled] .btn-transparent.active { 
  background-color: transparent; 
  border-color: transparent; 
} 
 
.btn-transparent .badge { 
  color: transparent; 
  background-color: #FFFFFF; 
}





.btn-trashed {
	margin-bottom: 15px;
}




// Forms 

label {
	font-size: 1rem;
	margin-bottom: 0.5rem;
	font-weight: 400;
}

.form-control {
	box-shadow: none;
	font-size: 1rem;
	padding: 0.5rem 0.75rem;
	height: auto;
	border-radius: 3px;
	transition: 0.3s all;
	font-weight: 300;

}

.form-control:focus {
	box-shadow: none;
	border-color: $primary;
	
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
	display: block;
}

.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
	height: 48px;
}



.bootstrap-select {
	
	.btn {
		box-shadow: none;
		font-size: 1rem;
		padding: 0.5rem 0.75rem;
		height: auto;
	}
	
}

.panel {
	border-radius: 0px;
}

.note-editor.note-frame {
	border-color: #ccc;
}

.note-editable {

	p {
		line-height: 1.75;
		margin: 25px 0;
		font-size: 1rem;
	}

	p:first-child {

		margin-top: 0;
	}	
}

.note-editor.note-frame .note-editing-area .note-editable {
	padding: 25px;
}

input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
	line-height: inherit;
}

.note-editor {

	.btn {


		i {
			margin-right: 5px;
			margin-left: 5px;
		}

	}

}

.modal {

	.dropzone {
		min-height: 120px;
		padding: 0;
		box-shadow: none;
		border: none;
		margin-bottom: 15px;
	}

	.uploaded-image-thumbnail {
	    max-width: 100%;
		width: 100%;
	    height: 100px;
	    object-fit: cover;
	    object-position: 50% 50%;
	    margin-bottom: 15px;
	}

	.col {
		padding-left: 7.5px;
		padding-right: 7.5px;
		margin-bottom: 15px;
	}

	.thumbnail-container {
		padding: 7.5px;
	}

	.snippet-image {
	    max-width: 100%;
		width: 100%;
	    height: 150px;
	    object-fit: cover;
	    object-position: 50% 50%;
	    margin-bottom: 15px;		
	}

	.snippet-name {
		min-height: 64px;
	}


}


// Helpers

.color {
	color: $primary;
}

.green {
	color: $green;
}

.block {
	display: block;
}

.card {
	background-color: #fff;
	padding: 15px 25px;
	
	.card-header {
		font-size: 1.5rem;
		padding-bottom: 15px;
		font-weight: 700;
	}
	
}

.text-center {
	text-align: center;
}

.list-wide {
	
	font-size: 1rem;
	
	li {
		padding: 10px 0;
		border-bottom: 1px solid #f6f6f6;
	}
	
	span {
		float: right;
		font-weight: bold;
	}
	
}

.display-table {
	display: table;
	width: 100%;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

// Pagination

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: $primary;
	border-color: $primary-d;
	box-shadow: none;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #333;
	background-color: #fff;
}

.pagination > li > a, .pagination > li > span {
	color: #666;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

// Dropzone

.dropzone {
	
	min-height: 300px;
	border-color: #fff;
	box-shadow: $shadow-1;
	
	.dz-message {
		margin: 100px 0;
		font-size: 1.25rem;
		font-weight: 700;
	}
	
	input[type=file] {
		display: none;
	}
	
}

.dropzone.dz-drag-hover {
	border-color: $primary;
	background-color: rgba(255,255,255,0.8);
}

.img-uploaded {
	padding: 15px;
	background-color: #fff;
	margin-bottom: 30px;
	box-shadow: $shadow-1;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	.btn:nth-of-type(1) {
		margin-bottom: 15px;
	}

}

.img-uploaded:hover {
	box-shadow: $shadow-1-hover;
}

.img-uploaded-thumbnail {
	max-width: 100%;
	min-width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: 50% 50%;
	object-position: 0 0;
	margin-bottom: 15px;
}



// Sidenav 

.title-container {
	font-weight: 700;
	font-size: 1.25rem;
	text-align: center;
	padding: 17.5px 10px 17.5px 10px;
	background-color: #222;
	border-right: 1px solid #121212;
	position: fixed;
	height: 70px;
	left: 0;
	top: 0;
	width: 250px;
	z-index: 3000;

	a {
		color: #fff;
		font-size: 14px;

		&:hover {
			color: $primary;
		}
	}

	img {
		height: 35px;
	}
}

.sidenav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	background-color: #fff;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	
	.title-container:hover {
		cursor: default;
	}
	
	
	.menu-container {

		border-right: 1px solid #eee;
		padding-top: 85px;
		padding-bottom: 15px;

		.separator {
			padding: 0px 25px;
		    text-transform: uppercase;
		    font-size: 12px;
		    color: #999;
		    font-weight: 400;
		    margin-top: 15px;
   		}

   		.separator:nth-of-type(1) {
   			margin-top: 0;
   		}
						
		a {
			padding: 7px 10px 7px 25px;
			display: block;
			border-left: 5px solid #fff;
			color: #333;
			font-weight: 300;
			transition: 0.3s all;
			font-size: 14px;
			
			i {
				margin-right: 15px;
			}
			
		}
		
		a:hover {
			background-color: #f8f8f8;
		}
		
		a.active {
			border-left-color: $primary;
		}
	}
		
}

.main {

	.dashboard-search {
		height: 70px;
		background-color: #333;
		position: fixed;
		left: 250px;
		top: 0;
		right: 0;
		z-index: 3000;
		padding: 15px 25px;

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			height: 40px;
			border-radius: 3px;
			padding: 7px 15px;
			background-color: transparent;
			border: 1px solid #666;
			color: #fff;
			transition: 0.3s all;

			&:hover {
				cursor: pointer;
				color: $primary;
			}

		}

		.btn {
			padding: 9px 12px;
		}

		.display-table-cell {
			text-align: right;
		}

		.display-table-cell:nth-of-type(1) {
			text-align: left;
		}

	}

	.dashboard-search__user {

		&:hover {
			cursor: default;
		}

		p {
			font-size: 12px;
			margin: 0;
			padding: 0;
			line-height: 1;
			color: #fff;
		}

		.dashboard-search__user-name {
			margin-bottom: 5px;
			font-size: 14px;

		}

		.dashboard-search__user-email {
			font-weight: 300;
			font-size: 10px;
		}

	}

	.dashboard-search__result-type {
	    font-size: 16px;
	    padding: 10px 15px;
	    margin: 0;
	    border-bottom: 2px solid #ddd;
	    font-weight: 700;
	    background-color: #eee;
	    border-top-left-radius: 3px;
	    border-top-right-radius: 3px;
	}

	.dashboard-search__result-type:nth-of-type(2) {
		border-top: 1px solid #ddd;
	}

	.dashboard-search__results {

		width: 500px;
		background-color: #fff;
		border-radius: 3px;
		margin-top: 7px;



		.no-results {
			padding: 25px 50px;
			text-align: center;

			.no-results__title {
				font-weight: 700;
				margin-bottom: 10px;
				margin-top: 0;
				font-size: 18px;
			}

			.no-results__hint {
				color: #999;
				font-size: 14px;
				margin: 0;
			}

		}

		.dashboard-search__results-item {
			display: block;
			border-bottom: 1px solid #eee;
			padding: 15px;

			&:hover {
				cursor: pointer;
				background-color: #fafafa;

				.results-item__name {
					color: $primary;
				}
			}

			p {
				margin: 0;
				line-height: 1;
			}

			.results-item__name {
				font-weight: 400;
				font-size: 14px;
				margin-bottom: 5px;
				transition: 0.3s all;
			}

			.results-item__type {
				color: #999;
				font-size: 11px;
			}
		}

		.dashboard-search__results-item:last-child {
			border-bottom: none;
		}


	}

	.dashboard-search__input {
		width: 500px;
		border: 1px solid #595959;
		height: 40px;
		border-radius: 3px;
		padding: 7px 15px;
		background-color: #595959;
		transition: 0.3s all;
		max-width: 100%;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #ddd;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: #ddd;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: #ddd;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: #ddd;
		}		

		&:focus {
			outline: none;
			border-color: $primary;
			background-color: #fff;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #333;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: #333;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: #333;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: #333;
			}

		}
	}
		
	.dashboard-header {
		
		padding: 15px 25px;
		position: fixed;
		left: 250px;
		top: 70px;
		right: 0;
		z-index: 1030;
		border-bottom: 1px solid #eee;
		background-color: #fff;

		h1 {
			margin: 0;
			font-size: 32px;
		}
		
		small {
			color: #999;
			font-size: 1rem;
			margin: 5px 0;
			display: block;
		}
		
		.btn {
			position: absolute;
		    right: 25px;
		    top: 25px;
		    padding: 9.5px 25px;
		}
		
	}
	
	.dashboard-content {
		padding: 25px;
		
		table {
			background-color: #fff;
			box-shadow: $shadow;
			border: 1px solid #eee;
			
			img {
				width: 50px;
			    height: 50px;
			    object-fit: cover;
			    object-position: 50% 50%;
			    display: block;
			    margin: 0 auto;
			}
			
			th {
				padding: 15px;
				border-bottom-color: #eee;
			}
			
			td {
				vertical-align: middle !important;
				padding: 15px;
				padding-bottom: 15px;
				border-top-color: #eee;
				
				.btn {
					min-width: 120px;
				}
				
				.btn-primary {
					color: #fff !important;
				}

				.flag-icon {
					height: 20px;
					width: auto;
				}
								
			}
			
			td.btn-td {
				width: 150px;
			}
			
			
			a {
				color: #333;
			}
			
			a:hover {
				color: $primary;
			}
			
			a.btn {
				color: inherit;
			}
			
			
		}
		
	}
	
}

.product-show {
	
	.img-uploaded-thumbnail {
		margin-bottom: 0;
	}
	
	
}

// Alerts

.alert {
	
	margin-bottom: 0;
	border-radius: 0px;
	
	.close,
	.close:hover,
	.close:focus {
		color: #fff !important;
		opacity: 1;
	}
		
}

.alert.alert-danger {
	background-color: $primary;
	border-color: $primary;
	color: #fff;
}

.alert.alert-success {
	background-color: $green;
	border-color: $green;
	color: #fff;
}

.post-content {

	font-size: 14px;
	line-height: 1.75;		
	padding: 25px;
	background-color: #fff;

	h3 {
		line-height: 1.5;
	}

	p {
	font-size: 14px;
	line-height: 1.75;		
	}

	img {
		max-width: 100% !important;
		margin: 15px auto;
		display: block;
	}

	ul {
		list-style-type: square;
		margin-left: 15px;
	}


}

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
	margin-bottom: 25px;

	li { 

		padding: 15px;
		margin-bottom: 5px;
		border: 1px solid #ccc;

		.fa-trash {  
			float:right; 
			color: #333;
		}

		.fa-arrows-alt {
			color: $primary;
		}

		&:hover {
			cursor: move;
		}

	}

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {

		background-color: #fff;

	}

}

// Auth 

body.auth {
	padding-left: 0;
	
	.auth-container {

		width: 400px;
		max-width: 100%;
		margin: 50px auto;
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 30px;

	}

}


.optional {
	color: #999;
	font-style: italic;
	font-size: 13px;
}

.divider {
	font-weight: 400;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 50px;
	font-size: 26px;

	&.first {
		margin-top: 10px;
	}
}

.user-edit, .festival-edit, .admin-edit {

	h1 {
		min-height: 32px;
	}

	h3 {
		font-size: 26px;
		font-weight: 400;
	}


	.user-image {
		height: 200px;
		background-size: cover;
		background-position: center center;
		max-width: 200px;
		margin: 0 auto 30px;
	}

	.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	.inputfile + label {
		font-size: 16px;
		font-weight: 600;
		color: white;
		background-color: $primary;
		display: block;
		transition: 0.3s all;
		text-align: center;
		border-radius: 3px;
		padding: 15px 10px;
		cursor: pointer;
	}

	.inputfile:focus + label,
	.inputfile + label:hover {
		background-color: darken($primary, 10%);
	}

	.panel {

		h4 {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 30px;
			margin-top: 10px;
		}
	}

	.profile {

		.item {
			-ms-flex: 1;
			flex: 1;
			text-align: center;

			i {
				font-size: 25px;
			}
		}
	}


	.tours, .payment, .experience {

		.d-flex {
			justify-content: space-between;
			margin-bottom: 10px;
		}

		.item {
			-ms-flex: 1;
			flex: 1;
			align-items: center;
			font-size: 17px;
		}

		.item-2x {
			-ms-flex: 2;
			flex: 2;
			align-items: center;
			font-size: 17px;
		}

		.item:nth-of-type(2) {
			text-align: right;
		}

		i {
			margin: 0 5px;
		}

		.approved {
			color: $green;
		}

		.denied {
			color: #cb2020;
		}

		.in-progress {
			color: #cb9120;
		}

		.fa-exclamation-triangle {
			color: #cb2020;
		}

		.icon-link {
			color: #000;

			&:hover {
				color: $primary;
			}
		}
	}

	.popup-div {
		position: relative;

		#show-popup {
			cursor: pointer;
		}

		.status-popup {
			position: absolute;
			top: -60px;
			right: 0;
			background-color: #fff;
			border: 1px solid transparent;
			-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
			box-shadow: 0 1px 5px rgba(0,0,0,.1);

			span {
				font-size: 14px;
			}

			.d-flex {
				margin-bottom: 0;
			}

			.item {
				flex: 1;
				display: flex;
				padding: 15px 10px;

				&:hover {
					background-color: #eee;
				}
			}
		}
	}

	.payment {

		.item-2x {
			-ms-flex: 3;
			flex: 3;
		}

		.approved {
			color: $green;
		}

		.btn {
			position: relative;
			top: -10px;
			padding: 9px 12px;
		}
	}
}

.bold {
	font-weight: 700;
}

.d-block {
	display: block;
}

.d-flex {
	display: -webkit-box;  
	display: -ms-flexbox; 
	display: -webkit-flex;
	display: flex;
}

#new-payment {

	.modal__container {
		width: 400px;
		max-width: 100%;
	}
}

#contract {

	.modal__container {
		display: flex;
		width: 700px;
		max-width: 100%;

		.container__item {
			flex: 1;

			&:first-child {
				padding-right: 20px;
			}

			&:last-child {
				padding-left: 20px;
			}
		}
	}

	

	.d-flex {
		justify-content: space-between;
		margin-bottom: 20px;
	}
}

#new-event {

	.modal__container {
		width: 1000px;
		max-width: 100%;
	}

	.user-image {
		height: 165px;
	}

	textarea {
		height: 100px;
	}
}

.micromodal-slide {
	
	.modal__close:focus {
		outline: none;
	}
}

.mr-5 {
	margin-right: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
  margin-bottom: 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar-laravel {
	height: 70px;
	background-color: #fff;
	position: fixed;
	left: 250px;
	top: 0;
	right: 0;
	z-index: 3000;
}

.main {
	padding-top: 168px;
}

.btn-td {

  input[type="submit"] {
    background-color: transparent;
    border: none;
    display: block;
      padding-left: 0px;
      line-height: 1.42857143;
      white-space: nowrap;
      transition: 0.3s all;
      width: 100%;
      text-align: left;

      &:hover,
      &:focus {
        color: $primary;
      }
  }
}